@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
:root{
 --black: #121723;
 --light-black: #292E39;
 --text_gray: #A1A6B4;
 --shade_gray: #D2D5DD;
 --light_color: #E6E8EC;
 --light_color_40: rgba(230, 232, 236, 0.4);
 --primary: #6D31EE;
 --primary_shade: #4F28A5;
 --primary_light: #AA9DFA;
 --red: #FF6F6F;
 --promo_color: #F0D288;
 --promo_color_shade: #BB973E;
}
*,*::after,*::before{
    box-sizing: border-box;
}
html, body{
    font-family: 'Muller', serif;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    padding: 0;margin: 0;
    text-decoration: none;
}

h2{
    font-weight: 400;
    font-size: 48px;
    color: #121723;
}

/*============================================================================================================= COMMON ============================================================================================================= */

.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}






.btn{
    cursor: pointer;
    height: 70px;
    width: fit-content;
    padding: 0 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font: 500 20px/20px 'Muller';
    transition: color .3s, background-color .3s, border-color .3s;
}
.btn:focus{
    outline: none;
}
.btn.color{
    background: var(--primary);
    border: 2px solid var(--primary);
    color: white;
}
.btn.color:hover{
    border-color: var(--primary_light);
    background-color: var(--primary_light);
}
.btn.border{
    color: var(--primary);
    border-color: var(--primary);
    background-color: transparent; 
}
.btn.border:hover{
    color: white;
    border-color: var(--primary);
    background-color: var(--primary_light);
}
.btn.color:focus,
.btn.border:focus{
    color: white;
    border-color: var(--primary_shade);
    background-color: var(--primary_light);
}
.btn.color:active,
.btn.border:active{
    color: white;
    border-color: var(--primary_shade);
    background-color: var(--primary_shade);
}


.accordion > li:last-child{
    margin-bottom: 0;
}
.accordion__heading{
    cursor: pointer;
    padding-right: 80px;
    position: relative;
}
.accordion__heading span{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid lightgray;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-color 0.5s;
}
.accordion__heading span:before,
.accordion__heading span:after{
    content: "";
    width: 12px;
    height: 2px;
    background-color: gray;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.accordion__heading span:after{
    transform: rotate(90deg);
    transition: transform 0.4s;
}
.accordion__heading.active span:after{
    transform: rotate(180deg);
}
.accordion__heading:hover span{
    border-color: gray;
}
.accordion__content{
    height: 0;
    transition: height 0.5s ease;
    overflow: hidden;
}
.accordion__content.active{
    height: auto;
}
.accordion__inner{
    padding-top: 20px;
}

/*============================================================================================================= HEADER =============================================================================================================*/

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
}
.header-top{
    height: 80px;
}
.header-top > .container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}
.header__menu{
    margin: 0 auto;
}
.header__menu-list{
    display: flex;
    gap: 50px;
}
.header__menu-link{
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    padding: 4px 10px;
    background-color: transparent;
    transition: color .3s, background-color .3s;
}
.header__menu-link:hover{
    color: var(--primary);
}
.header__menu-link:focus{
    color: white;
    background-color: var(--primary_light);
    outline: none;
}
.header__menu-link:active{
    color: var(--primary_shade);
}


.header__search{
    margin-right: 24px;
    height: 24px;
    width: fit-content;
}
.header__search-btn{
    display: block;
    height: 24px;
    width: 24px;
}
.header__search-btn:hover svg path{
    stroke: var(--primary_shade)
}
.header__search-btn:focus{
    outline: none;
}
.header__search-btn:focus svg path{
    stroke: var(--primary_light)
}       
.header__search-btn:active svg path{
    stroke: var(--primary_shade)
}
.header__enter-btn{
    cursor: pointer;
    height: 40px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--black);
    border-radius: 20px;
    font: 500 16px/16px 'Muller';
    color: var(--black);
    transition: color .3s, background-color .3s, border-color .3s;
}
.header__enter-btn:hover{
    background-color: var(--black);
    color: white;
}
.header__enter-btn:focus{
    background-color: var(--primary_light);
}
.header__enter-btn:active{
    background-color: var(--primary_shade);
    border-color: var(--primary_shade);
    color: white;

}

.header-bottom{
    height: 60px;
    border-top: 1px solid var(--light_color);
    border-bottom: 1px solid var(--light_color);
}
.header-bottom > .container{
    display: flex;
    align-items: center;
    height: 100%;
}
.header__categories-list{
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__categories-link{
    font-size: 16px;
    color: var(--black);
    padding: 3px 5px;
}
.header__categories-link:hover{
    color: var(--primary);
}
.header__categories-link:focus{
    color: white;
    background-color: var(--primary_light);
    outline: none;
}
.header__categories-link:active{
    color: var(--primary_shade);
}
.header__ether{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    border-left: 1px solid var(--light_color);
}
.header__ether-current,
.header__ether-last{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    border-right: 1px solid var(--light_color);
}
.header__ether-text{
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.header__ether-subtitle{
    font-family: 'Muller';
    font-size: 12px;
    color: var(--text_gray);
}
.header__ether-title{
    font-family: 'Muller';
    font-size: 16px;
    color: var(--black);
}

.header__age{
    height: 100%;
    width: 46px;
    background-color: var(--light_color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__age-num{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_gray);
    font-size: 12px;
    line-height: 16px;
    background-color: #fff;
}
/*============================================================================================================= MAIN ============================================================================================================= */

.main{
    padding-top: 140px;
}

/*============================================================================================================= HERO ============================================================================================================= */

.hero{
    min-height: 450px;
    padding: 40px 0;
}
.hero > .container{
    display: flex;
    justify-content: space-between;
}
.hero__wrap{
    width: 635px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 15px;
}
.hero__title .italic{
    font-style: italic;
    font-weight: 400;
}
.hero__text{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 45px;
}
.hero__img{
    height: 100%;
    object-fit: contain;
}
/*============================================================================================================= PODCAST ============================================================================================================= */
.podcast{
    padding: 94px 0;
    background-color: var(--light_color);
}
.podcast__heading{
    margin-bottom: 30px;
}
.podcast__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}
.podcast__item{
    width: calc(50% - 15px);
    min-height: 140px;
    background-color: #fff;
}
.podcast__link{
    display: flex;
    height: 100%;
    color: var(--black)
}
.podcast__img-wrap{
    height: 100%;
    width: 112px;
    position: relative;
}
.podcast__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.podcast__date{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 16px;
    font-size: 10px;
    background-color: var(--light_color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.podcast__info-wrap{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}
.podcast__info-basic{
    flex-grow: 1;
    width: 100%;
    position: relative;
    padding-top: 24px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.podcast__time{
    font-size: 12px;
    margin-bottom: 8px;
}
.podcast__name{
    font-size: 20px;
    margin-bottom: 4px;
}
.podcast__author{
    font-size: 16px;
    color: var(--text_gray);
}
.podcast__play{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 42px;
    height: 42px;
    background: url(../img/icons/play-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.podcast__info-renderer{
    width: 100%;
    padding-left: 30px;
    height: 32px;
    border-top: 1px solid var(--light_color);
    display: flex;
    align-items: center;

}
.podcast__info-renderer-list{
    display: flex;
    gap: 30px;
}
.podcast__info-renderer-item{
    display: flex;
    align-items: center;
    color: var(--text_gray);
    gap: 5px;
}
.podcast__info-renderer-number{
    font-size: 16px;
}
.podcast__btn{
    margin: 0 auto;
}

/*============================================================================================================= BROADCAST =============================================================================================================*/

.broadcast{
    padding: 94px 0;
}
.broadcast > .container{
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: 30px;
}
.broadcast__wrap{
    display: flex;
    flex-direction: column;
}
.broadcast__heading{
    margin-bottom: 12px;
}
.broadcast__author-wrap{
    margin-bottom: auto;
}
.broadcast__author-title{
    font-size: 16px;
    color: var(--text_gray);
    margin-bottom: 8px;
}
.broadcast__archive-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 45px;
    border: 2px solid var(--black);
    border-radius: 20px;
    font: 500 16px 'Muller';
    cursor: pointer;
    transition: color .3s, background-color .3s, border-color .3s;
    margin-bottom: 23px;
}
.broadcast__archive-btn svg{
    margin-right: 4px;
}
.broadcast__archive-btn svg path{
    transition: stroke .3s;
}
.broadcast__archive-btn:hover{
    background-color: var(--black);
    color: white;
}
.broadcast__archive-btn:hover svg path{
    stroke: white;
}
.broadcast__archive-btn:focus{
    outline: none;
    background-color: var(--primary_light);
}
.broadcast__archive-btn:active{
    border: var(--primary_shade);
    background-color: var(--primary_shade);
    color: white;
}
.broadcast__archive-btn:active svg path{
    stroke: white;
}
.broadcast__archive-text{
    font-size: 16px;
    line-height: 150%;
    color: var(--text_gray);
}
.broadcast__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.broadcast__link{
    display: block;
    color: var(--black);
    border: 1px solid var(--light_color);
}
.broadcast__img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: opacity .3s;
}
.broadcast__text-wrap{
    padding: 20px 16px;
    /* display: flex;
    flex-direction: column; */
}
.broadcast__name{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}
.broadcast__date{
    color: var(--text_gray);
    font-size: 12px;
    margin-bottom: 20px;
}
.broadcast__details{
    width: 120px;
    position: relative;
    font-style: italic;             
    font-size: 16px;
    transition: color .3s;
    padding: 1px;       
}
.broadcast__details::after{
    position:absolute;
    top: 1px;
    right: 0;;
    content: '';
    display: block;
    width: 28px;
    height: 12px;
    position: absolute;
    mask-image: url(../img/icons/arrow.svg);
    -webkit-mask-image: url(../img/icons/arrow.svg);
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: var(--black);
    transition: background-color .3s;
}
.broadcast__link:hover .broadcast__img{
    opacity: 0.7;
}
.broadcast__link:hover .broadcast__details{
    color: var(--primary);
}
.broadcast__link:hover .broadcast__details::after{
    background-color: var(--primary);
}
.broadcast__link:focus{
    outline: 1px solid var(--primary);
}
.broadcast__link:focus .broadcast__details{
    background-color: var(--primary_light);
    color: white;
}
.broadcast__link:focus .broadcast__details::after{
    background-color: white;
}

.broadcast__link:active .broadcast__details{
    color: var(--primary_shade);
}
.broadcast__link:active .broadcast__details::after{
    background-color: var(--primary_shade);
}


/*============================================================================================================= GUESTS =============================================================================================================*/

.guests{
    padding: 94px 0;
    background-color: var(--black);
}
.guests__heading{
    color: white;
    margin-bottom: 12px;
}
.guests__subtitle{
    font-weight: 700;
    font-size: 20px;
    color: var(--text_gray);
}
.guests__description{
    font-size: 20px;
    line-height: 160%;
    color: var(--text_gray);
    margin-bottom: 50px;
}
.guests__wrap{
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 30px;
}

.accordion__heading{
    position: relative;
    border-top: 1px solid var(--text_gray);
    padding: 35px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

.accordion__item:last-child{
    border-bottom: 1px solid var(--text_gray);
}
.accordion__heading::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 21px);
    right: 0;
    width: 42px;
    height: 42px;
    border: 2px solid var(--text_gray);
    border-radius: 50%;
    transition: border-color .3s;
}
.accordion__heading::before{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 21px + 12px);
    right: calc(21px - 6px);
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--text_gray);
    border-right: 2px solid var(--text_gray);
    transform: rotate(45deg);
    transform-origin: center center;
    transition: transform .3s, border-color .3s;
}


.accordion__content-wrap{
    padding: 20px 0;
}
.accordion__heading.active{
    border-color: var(--primary_light);
}
.accordion__heading.active{
    border-bottom: 1px solid var(--primary_light);
}
.accordion__heading.active::before{
    transform: translateY(5px) rotate(-135deg);
}
.accordion__heading:hover{
    color: var(--primary_light);
}
.accordion__heading:hover::after,
.accordion__heading:hover::before{
    border-color: var(--primary_light);
}
.accordion__heading:focus{
    outline: none;
    background: rgba(170, 157, 250, 0.3);
}
.accordion__heading:active{
    border-color: var(--primary_light);
}



.guests__guest-img{
    width: 250px;
    height: 220px;
    margin-bottom: 12px;
}
.guests__guest-img img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
.guests__guest-name{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 8px;
}
.guests__guest-text{
    line-height: 180%;
    font-size: 16px;
    color: var(--text_gray);
    margin-bottom: 30px;
}
.guests__guest-btn{
    height: 40px;
    padding: 0 19px;
    font-size: 16px;
    color: var(--primary_light);
    border: 2px solid var(--primary_light);
}
.guests__guest-btn:hover{
    background-color: var(--primary_light);
    color: white;
}
.guests__guest-btn:focus{
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}
.guests__guest-btn:active{
    background-color: var(--primary_shade);
    border-color: var(--primary_shade);
    color: white;
}
.guests__guest-social{
    display: flex;
    gap: 30px;
    margin-bottom: 12px;
}
.guests__guest-social-link{
    width: 24px;
    height: 24px;
}
.guests__guest-social-link:focus{
    outline: none;
}
.guests__guest-social-link svg use{
    max-width: 24px;
    max-height: 24px;
    fill: var(--text_gray);
    transition: fill .3s;
}   
.guests__guest-social-link:hover svg use{
    fill: var(--primary);
}
.guests__guest-social-link:focus svg use{
    fill: var(--primary_light);
}
.guests__guest-social-link:active svg use{
    fill: var(--primary_shade);
}
.guests__accordion-content-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px 30px;
}
.guests__accordion-content-link{
    cursor: pointer;
    text-align: start;
    font: 15px 'Muller';
    color: white;
    transition: color .3s;
}
.guests__accordion-content-link:hover{
    color: var(--primary_light);
}